@using fomka_web.Attributes
@model fomka_web.Models.MainVM
@{
    ViewBag.Title = "Home Page";
}
<div class="content">
    <div class="side-menu">
        @if (Model.Role == RoleAuthorizeAttribute.AppUserType.Lecturer)
        {
            <a class="btn btn-primary" href="~/Tasks/Add">Створити Завдання</a>
        }
        @foreach (var task in Model.Tasks)
        {
            <div class="row mg-2">
                <div class="card taskcard">
                    <div class="card-header">
                        <h2>@task.Title</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5 col-lg-2">
                                Рівень @task.DifficultyLevel.Title
                            </div>
                            <div class="col-sm-7">
                                Мова @task.ProgrammingLanguage.Title
                            </div>
                        </div>
                        <div class="row mg-2">
                            <div class="taskInfo">
                                @task.Description
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        @if (task.Marks.Select(m => m.UserId == Model.User.Id).Count() == 0)
                        {
                            <a class="btn btn-primary" href="~/Tasks/Open?taskId=@task.Id&mode=open">Відкрити Завдання</a>
                        }
                        else
                        {
                            <label>Завдання здано. Ваша оцінка: @task.Marks.SingleOrDefault(m => m.UserId == Model.User.Id).Value.ToString("F3")</label>
                        }

                        @if (Model.Role == RoleAuthorizeAttribute.AppUserType.Lecturer)
                        {
                            <a class="btn btn-primary" href="~/Tasks/Edit?taskId=@task.Id">Редагувати Завдання</a>
                            <a class="btn btn-danger" href="~/Tasks/Delete?taskId=@task.Id">Видалити Завдання</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript" src="~/Scripts/CoockieCleaner.js"></script>
